<h2>Reset Your Password</h2>

<%= form_with url: send_password_reset_path, html: {class: "narrow"} do |form| %>
  <div class="form-fields">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.submit "Save" %>
<% end %>

<% if alert %>
  <%= alert %>
<% end %>