<h1>Edit your article</h1>

<%= form_with model: @article, url: admin_article_path(@article) do |form| %>
  <div class="form-fields">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-fields">
    <%= form.label :body %>
    <%= form.text_area :body, :class => "tinymce" %>
  </div>
  <%= form.submit "Save" %>
<% end %>

<%= link_to "See All Articles", admin_articles_path %>
