<h1>Hello world!</h1>
<p>This is the homepage of the Developing Mastery project.</p>

<% @articles.each do |a| %>
  <div class="article">
    <h2><%= link_to(a.title, article_path(a)) %></h2>
    <p><%= a.body.length > 200 ? a.body.first(200) + "..." : a.body.first(200) %>&nbsp;<%= link_to("Read More", article_path(a)) %></p>
  </div>
<% end %>

<div class="dropdowns">
  Viewing page 
  <select id="page-selector">
    <% (0...@num_of_pages).each do |num| %>
      <option <%= "selected" if @page == num %>><%= num + 1 %></option>
    <% end %>
  </select>
  of <%= @num_of_pages %>
</div>
<div class="pagination">
  <% if @page != 0 %>
    <%= link_to("First", articles_path(page: 0, limit: @limit)) %>
  <% end %>
  <% if @page > 1 %>
    <%= link_to("Prev", articles_path(page: @page - 1, limit: @limit)) %>
  <% end %>
  <% if @page < @num_of_pages - 2 %>
    <%= link_to("Next", articles_path(page: @page + 1, limit: @limit)) %>
  <% end %>
  <% if @page != @num_of_pages - 1 %>
    <%= link_to("Last", articles_path(page: @num_of_pages - 1, limit: @limit)) %>
  <% end %>
</div>

<div class="dropdowns">
  Show 
  <select id="limit-selector">
    <option <%= "selected" if @limit == 2 %>>2</option>
    <option <%= "selected" if @limit == 3 %>>3</option>
    <option <%= "selected" if @limit == 5 %>>5</option>
  </select> articles per page
</div>