<h1>Create your account</h1>

<%= form_with model: @user, url: users_path(@user) do |form| %>
  <div class="form-fields">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form-fields">
    <%= form.label :password %>
    <%= form.text_area :password %>
  </div>
  <div class="form-fields">
    <%= form.label :password_confirmation %>
    <%= form.text_area :password_confirmation %>
  </div>
  <%= form.submit "Save" %>
<% end %>

<ul>
<% if flash[:errors] %>
  <% flash[:errors].uniq.each do |e| %>
    <li><%= e %></li>
  <% end %>
<% end %>
</ul>

<%= link_to "Back to Home", root_path %>
